.error
    display: flex
    width: 100%
    flex-direction: row
    > small
        color: red
        font-weight: bold

.error-input
    border: 2px solid red

form
    max-width: 350px
    width: 350px

::ng-deep.mat-dialog-container
    background: black !important
