.home-container
    display: flex
    flex-direction: column
    justify-content: center
    height: 100%

h1
    font-size: 80px
    color: #fcfcfc
    display: flex
    justify-content: center
    flex-direction: row
    margin: 1rem 0
    height: 60px

h1:nth-child(n+1)
    margin-top: 20px

@media screen and (max-width:414px)
    h1
        font-size:60px