<div class="content overlay animate__animated animate__backInUp">
  <img src="../../../assets/images/me.png" alt="me" class="me-photo" />

  <h1 class="title">Who i'm?</h1>
  <p class="description">
    I'm Ricardo Maldonado, i am developer fullstack, i like games, play guitar
    and programming.
  </p>

  <h1 class="title">Games developed</h1>
  <p class="description">
    Earth collapse 
    <br>
    &nbsp;&nbsp;&nbsp;-You have to destroy as many meteors as possible to avoid collision with the earth, save us!
  </p>

  <h1 class="title">How Play it?</h1>
  <p class="description">
    - Click in direction to meteors for destroy it.
    <br>
    - Keep your eyes open!
  </p>
</div>
