$error: #d9534f
$success: #5cb85c

::ng-deep .success-snackbar
    background: $success
    font-weight: bolder
    letter-spacing: 1.33px
    text-shadow: 1px 1px #1d1d1c
    >*
        display: flex
        flex-direction: row
        justify-content: center
        color: white
        width: 100%
    > button
        background-color: $success
        text-align: center !important
        justify-content: center
        align-self: center

::ng-deep .error-snackbar
    background: $error
    font-weight: bolder
    letter-spacing: 1.33px
    text-shadow: 1px 1px #1d1d1c
    >*
        display: flex
        flex-direction: row
        justify-content: center
        color: white
        width: 100%
    > button
        background-color: $error
        text-align: center !important
        justify-content: center
        align-self: center
